## Loops

**loop / loop body**

A loop is a program construct that repeatedly executes the loop's statements (known as the loop body) while the loop's expression is true; when the expression is false, execution proceeds past the loop.

**iteration**

Each time through a loop's statements is called an iteration.

### 1. While loops

In [ ]:
while expression:  # Loop expression
    # Loop body: Sub-statements to execute
    # if the loop expression evaluates to True

# Statements to execute after the expression evaluates to False

In [1]:
curr_power = 2
user_char = 'y'

while user_char == 'y':
    print(curr_power)
    curr_power = curr_power * 2
    user_char = input()

print('Done')

2

 y

4

 y

8

 b

Done

#### sentinel value
a value that when evaluated by the loop expression causes the loop to terminate.

In [3]:
nose = '0'  # Looks a little like a nose
user_value = '-'

while user_value != 'q':
    print(f' {user_value} {user_value} ')  # Print eyes     
    print(f'  {nose}  ')  # Print nose     
    print(user_value*5)  # Print mouth
    print('\n')

    # Get new character for eyes and mouth
    user_input = input("Enter a character ('q' for quit): ")
    user_value = user_input[0]

print('Goodbye.\n')

 - -
  0
-----

Enter a character ('q' for quit):  10

 1 1
  0
11111

Enter a character ('q' for quit):  3

 3 3
  0
33333

Enter a character ('q' for quit):  q

Goodbye.

### infinite loop

An infinite loop is a loop that will always execute because the loop's expression is always True.

#### While loop example

In [7]:
'''
Outputs average of list of positive integers
List ends with 0 (sentinel)
Ex: 10 1 6 3 0  yields (10 + 1 + 6 + 3) / 4, or 5
'''

values_sum = 0
num_values = 0

curr_value = int(input())
   
while curr_value > 0: # Get values until 0 (or less)
    values_sum += curr_value
    num_values += 1
    curr_value = int(input())

print(f'Average: {values_sum / num_values:.0f}\n')

 10
 1
 0

Average: 6

### Counting

**loop variable**

The programmer can use a variable to count the number of iterations, called a loop variable.

In [9]:
# Iterating N times using a loop variable
N = 5
i = 1
while i <= N:
    # Loop body statements go here
    i = i + 1

print(i)

6

### 2. For loops

**A for loop statement** loops over each element in a container one at a time, assigning a variable with the next element that can then be used in the loop body.

In [ ]:
for variable in container:
    # Loop body: Sub-statements to execute
    # for each item in the container

# Statements to execute after the for loop is complete

In [10]:
channels = {
    'MTV': 35,
    'CNN': 28,
    'FOX': 11,
    'NBC': 4,
    'CBS': 12
}

for c in channels:
    print(f'{c} is on channel {channels[c]}')

MTV is on channel 35
CNN is on channel 28
FOX is on channel 11
NBC is on channel 4
CBS is on channel 12

In [11]:
my_str = ''
for character in "Take me to the moon.":
    my_str += character + '_'
print(my_str)

T_a_k_e_ _m_e_ _t_o_ _t_h_e_ _m_o_o_n_._

#### Reversed

In [13]:
names = [
    'Biffle',
    'Bowyer', 
    'Busch',
    'Gordon',
    'Patrick'
]

for name in names:
    print(name, '|', end=' ')

print('\nPrinting in reverse:')
for name in reversed(names):
    print(name, '|', end=' ')

Biffle | Bowyer | Busch | Gordon | Patrick |
Printing in reverse:
Patrick | Gordon | Busch | Bowyer | Biffle |

#### Counting using the range() function

**Range()** generates a sequence of integers between a starting integer that is included in the range, an ending integer that is not included in the range, and an integer step value.

In [ ]:
range(start,stop,step)

In [17]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [19]:
for i in range(0,5,1):
    print(i, end=' ')

0 1 2 3 4

In [20]:
for i in range(10,1,-1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2

#### While vs. for loops

In [ ]:
i = 0
while i < 100 : 
   # Loop body statements
   i += 1


for i in range(100):

    # Loop body statements

### 3. Nested loops

**outer loop / inner loop**
    
The nested loops are commonly referred to as the outer loop and inner loop.

In [24]:
letter1 = 'a'
letter2 = '?'
while letter1 <= 'z':  # Outer loop
    letter2 = 'a'
    while letter2 <= 'z':  # Inner loop
        print(f'{letter1}{letter2}.com', end=' ')
        letter2 = chr(ord(letter2) + 1)
    letter1 = chr(ord(letter1) + 1)

aa.com ab.com ac.com ad.com ae.com af.com ag.com ah.com ai.com aj.com ak.com al.com am.com an.com ao.com ap.com aq.com ar.com as.com at.com au.com av.com aw.com ax.com ay.com az.com ba.com bb.com bc.com bd.com be.com bf.com bg.com bh.com bi.com bj.com bk.com bl.com bm.com bn.com bo.com bp.com bq.com br.com bs.com bt.com bu.com bv.com bw.com bx.com by.com bz.com ca.com cb.com cc.com cd.com ce.com cf.com cg.com ch.com ci.com cj.com ck.com cl.com cm.com cn.com co.com cp.com cq.com cr.com cs.com ct.com cu.com cv.com cw.com cx.com cy.com cz.com da.com db.com dc.com dd.com de.com df.com dg.com dh.com di.com dj.com dk.com dl.com dm.com dn.com do.com dp.com dq.com dr.com ds.com dt.com du.com dv.com dw.com dx.com dy.com dz.com ea.com eb.com ec.com ed.com ee.com ef.com eg.com eh.com ei.com ej.com ek.com el.com em.com en.com eo.com ep.com eq.com er.com es.com et.com eu.com ev.com ew.com ex.com ey.com ez.com fa.com fb.com fc.com fd.com fe.com ff.com fg.com fh.com fi.com fj.com fk.com fl.com fm.com fn.com fo.com fp.com fq.com fr.com fs.com ft.com fu.com fv.com fw.com fx.com fy.com fz.com ga.com gb.com gc.com gd.com ge.com gf.com gg.com gh.com gi.com gj.com gk.com gl.com gm.com gn.com go.com gp.com gq.com gr.com gs.com gt.com gu.com gv.com gw.com gx.com gy.com gz.com ha.com hb.com hc.com hd.com he.com hf.com hg.com hh.com hi.com hj.com hk.com hl.com hm.com hn.com ho.com hp.com hq.com hr.com hs.com ht.com hu.com hv.com hw.com hx.com hy.com hz.com ia.com ib.com ic.com id.com ie.com if.com ig.com ih.com ii.com ij.com ik.com il.com im.com in.com io.com ip.com iq.com ir.com is.com it.com iu.com iv.com iw.com ix.com iy.com iz.com ja.com jb.com jc.com jd.com je.com jf.com jg.com jh.com ji.com jj.com jk.com jl.com jm.com jn.com jo.com jp.com jq.com jr.com js.com jt.com ju.com jv.com jw.com jx.com jy.com jz.com ka.com kb.com kc.com kd.com ke.com kf.com kg.com kh.com ki.com kj.com kk.com kl.com km.com kn.com ko.com kp.com kq.com kr.com ks.com kt.com ku.com kv.com kw.com kx.com ky.com kz.com la.com lb.com lc.com ld.com le.com lf.com lg.com lh.com li.com lj.com lk.com ll.com lm.com ln.com lo.com lp.com lq.com lr.com ls.com lt.com lu.com lv.com lw.com lx.com ly.com lz.com ma.com mb.com mc.com md.com me.com mf.com mg.com mh.com mi.com mj.com mk.com ml.com mm.com mn.com mo.com mp.com mq.com mr.com ms.com mt.com mu.com mv.com mw.com mx.com my.com mz.com na.com nb.com nc.com nd.com ne.com nf.com ng.com nh.com ni.com nj.com nk.com nl.com nm.com nn.com no.com np.com nq.com nr.com ns.com nt.com nu.com nv.com nw.com nx.com ny.com nz.com oa.com ob.com oc.com od.com oe.com of.com og.com oh.com oi.com oj.com ok.com ol.com om.com on.com oo.com op.com oq.com or.com os.com ot.com ou.com ov.com ow.com ox.com oy.com oz.com pa.com pb.com pc.com pd.com pe.com pf.com pg.com ph.com pi.com pj.com pk.com pl.com pm.com pn.com po.com pp.com pq.com pr.com ps.com pt.com pu.com pv.com pw.com px.com py.com pz.com qa.com qb.com qc.com qd.com qe.com qf.com qg.com qh.com qi.com qj.com qk.com ql.com qm.com qn.com qo.com qp.com qq.com qr.com qs.com qt.com qu.com qv.com qw.com qx.com qy.com qz.com ra.com rb.com rc.com rd.com re.com rf.com rg.com rh.com ri.com rj.com rk.com rl.com rm.com rn.com ro.com rp.com rq.com rr.com rs.com rt.com ru.com rv.com rw.com rx.com ry.com rz.com sa.com sb.com sc.com sd.com se.com sf.com sg.com sh.com si.com sj.com sk.com sl.com sm.com sn.com so.com sp.com sq.com sr.com ss.com st.com su.com sv.com sw.com sx.com sy.com sz.com ta.com tb.com tc.com td.com te.com tf.com tg.com th.com ti.com tj.com tk.com tl.com tm.com tn.com to.com tp.com tq.com tr.com ts.com tt.com tu.com tv.com tw.com tx.com ty.com tz.com ua.com ub.com uc.com ud.com ue.com uf.com ug.com uh.com ui.com uj.com uk.com ul.com um.com un.com uo.com up.com uq.com ur.com us.com ut.com uu.com uv.com uw.com ux.com uy.com uz.com va.com vb.com vc.com vd.com ve.com vf.com vg.com vh.com vi.com vj.com vk.com vl.com vm.com vn.com vo.com vp.com vq.com vr.com vs.com vt.com vu.com vv.com vw.com vx.com vy.com vz.com wa.com wb.com wc.com wd.com we.com wf.com wg.com wh.com wi.com wj.com wk.com wl.com wm.com wn.com wo.com wp.com wq.com wr.com ws.com wt.com wu.com wv.com ww.com wx.com wy.com wz.com xa.com xb.com xc.com xd.com xe.com xf.com xg.com xh.com xi.com xj.com xk.com xl.com xm.com xn.com xo.com xp.com xq.com xr.com xs.com xt.com xu.com xv.com xw.com xx.com xy.com xz.com ya.com yb.com yc.com yd.com ye.com yf.com yg.com yh.com yi.com yj.com yk.com yl.com ym.com yn.com yo.com yp.com yq.com yr.com ys.com yt.com yu.com yv.com yw.com yx.com yy.com yz.com za.com zb.com zc.com zd.com ze.com zf.com zg.com zh.com zi.com zj.com zk.com zl.com zm.com zn.com zo.com zp.com zq.com zr.com zs.com zt.com zu.com zv.com zw.com zx.com zy.com zz.com

In [22]:
num = 0
while num >= 0:
    num = int(input('Enter an integer (negative to quit):\n'))

    if num >= 0:
        print('Depicted graphically:')
        for i in range(num):
            print('*', end=' ')
        print('\n')

print('Goodbye.')

Enter an integer (negative to quit):
 4

Depicted graphically:
* * * *

Enter an integer (negative to quit):
 3

Depicted graphically:
* * *

Enter an integer (negative to quit):
 -1

Goodbye.

### 4. Break and continue

A **break** statement in a loop causes the loop to exit immediately.

In [29]:
for i in range(10):
    if i == 5:
        break
    print(f'{i=}', end = ' ')

i=0 i=1 i=2 i=3 i=4

A **continue** statement in a loop causes an immediate jump to the while or for loop header statement.

In [30]:
for i in range(10):
    if i == 5:
        continue
    print(f'{i=}', end = ' ')

i=0 i=1 i=2 i=3 i=4 i=6 i=7 i=8 i=9

### 5. Getting both index and value when looping: enumerate()

In [31]:
origins = [4, 8, 10]

for index in range(len(origins)):
    value = origins[index]  # Retrieve value of element in list.
    print(f'Element {index}: {value}')

Element 0: 4
Element 1: 8
Element 2: 10

In [32]:
origins = [4, 8, 10]

for value in origins:
    index = origins.index(value)  # Retrieve index of value in list
    print(f'Element {index}: {value}')

Element 0: 4
Element 1: 8
Element 2: 10

In [33]:
origins = [4, 8, 10]

for (index, value) in enumerate(origins):
    print(f'Element {index}: {value}')

Element 0: 4
Element 1: 8
Element 2: 10