## String

**index**

An index is an integer matching a specific position in a string's sequence of characters.

**Slice notation**

Slice notation has the form my_str[start:end], which creates a new string whose value contains the characters of my_str from indices start to end -1.

In [1]:
url = 'http://en.wikipedia.org/wiki/Turing'
domain = url[7:23]  # Read 'en.wikipedia.org' from url
print(domain)

en.wikipedia.org

#### A slice creates a new object.

In [2]:
my_str = "The cat jumped the brown cow"
animal = my_str[4:7]
print(f'The animal is a {animal}')

my_str = 'The fox jumped the brown llama'
print(f'The animal is still a {animal}')# animal variable remains unchanged.

The animal is a cat
The animal is still a cat

In [3]:
usr_text = input('Enter a string: ')
print()

first_half = usr_text[:len(usr_text)//2]
last_half = usr_text[len(usr_text)//2:]

print(f'The first half of the string is "{first_half}"')
print(f'The second half of the string is "{last_half}"')

Enter a string:  Hello there. Nice to meet you!

The first half of the string is "Hello there. Ni"
The second half of the string is "ce to meet you!"

### Common slicing operations

In [4]:
my_str = 'http://en.wikipedia.org/wiki/Nasa/'

In [5]:
my_str[10:19]

'wikipedia'

In [6]:
my_str[10:-5]

'wikipedia.org/wiki/'

In [8]:
my_str[:23]

'http://en.wikipedia.org'

In [9]:
my_str[:-1]

'http://en.wikipedia.org/wiki/Nasa'

### stride
The stride determines how much to increment the index after reading each element.

In [10]:
numbers = '0123456789'

print(f'All numbers: {numbers[::]}')
print(f'Every even number: {numbers[::2]}')
print(f'Every third number between 1 and 8: {numbers[1:9:3]}')

All numbers: 0123456789
Every even number: 02468
Every third number between 1 and 8: 147

### Advanced string formatting

**field width**

A format specification may include a field width that defines the minimum number of characters that must be inserted into the string.

In [11]:
print(f'{"Player Name":16}{"Goals":8}')

print('-' * 24)


print(f'{"Sadio Mane":16}{"22":8}')

print(f'{"Gabriel Jesus":16}{"7":8}')

Player Name     Goals
------------------------
Sadio Mane      22
Gabriel Jesus   7

### alignment character
A format specification can include an alignment character that determines how a value should be aligned within the width of the field.

In [13]:
names = ['Sadio Mane', 'Gabriel Jesus']
goals = [22, 7]

print(f'{"Player Name":>16}{"Goals":>8}')     ## Right-aligned   
print('-' * 24)
for i in range(2):
    print(f'{names[i]:>16}{goals[i]:>8}')

     Player Name   Goals
------------------------
      Sadio Mane      22
   Gabriel Jesus       7

In [15]:
names = ['Sadio Mane', 'Gabriel Jesus']
goals = [22, 7]

print(f'{"Player Name":^16}{"Goals":^8}')    ## Centered
print('-' * 24)
for i in range(2):
    print(f'{names[i]:^16}{goals[i]:^8}')

  Player Name    Goals
------------------------
   Sadio Mane      22
 Gabriel Jesus     7

### fill character
The fill character is used to pad a replacement field when the inserted string is smaller than the field width.

In [19]:
name = 'Wayne Rooney'
goals = 36

print(f'{name:5}{goals:5}')

# Use default empty space fill character
print(f'{name:<16}{goals:>6}')
# Use '0' as a fill character for score
print(f'{name:<16}{goals:0>6}')
# Use '_' as fill character for name
print(f'{name:_<16}{goals:0>6}')

Wayne Rooney   36
Wayne Rooney        36
Wayne Rooney    000036
Wayne Rooney____000036

### precision

The optional precision component of a format specification indicates how many digits should be included in the output of floating types.

In [20]:
import math
real_pi = math.pi  # math library provides close approximation of pi
approximate_pi = 22.0 / 7.0  # Approximately correct pi to within 2 decimal places

print(f'pi is {real_pi}')
print(f'22/7 is {approximate_pi}')
print(f'22/7 looks better like {approximate_pi:.2f}')

pi is 3.141592653589793
22/7 is 3.142857142857143
22/7 looks better like 3.14

## String methods

**replace(old, new)**

Replace(old, new) —Returns a copy of the string with all occurrences of the substring old replaced by the string new.

**replace(old, new, count)**

Replace(old, new, count) —Same as above, except replace(old, new, count) only replaces the first count occurrences of old.

In [24]:
phrase = 'Someday I will have three goats, six horses, and nine llamas.'

# Replace English with Spanish.

phrase = phrase.replace('one', 'uno')
phrase = phrase.replace('two', 'dos')

phrase = phrase.replace('three', 'tres')

print(phrase)

Someday I will have tres goats, six horses, and nine llamas.

**find(x)**

Find(x) -- Returns the index of the first occurrence of item x in the string, otherwise, find(x) returns -1.

**find(x, start)**

Find(x, start) —Same as find(x), but begins the search at index start.

**find(x, start, end)**

Find(x, start, end) -- Same as find(x, start), but stops the search at index end - 1.

**rfind(x)**

Rfind(x) -- Same as find(x) but searches the string in reverse, returning the last occurrence in the string.

**count(x)**

Count(x) -- Returns the number of times x occurs in the string.

### String comparisons

<img src="img/string.png" width=600 height=600 />

**isalnum()**

Isalnum() -- Returns True if all characters in the string are lowercase or uppercase letters, or the numbers 0-9.

**isdigit()**

Isdigit() -- Returns True if all characters are the numbers 0-9.

**islower()**

Islower() -- Returns True if all cased characters are lowercase letters.

**isupper()**

Isupper() -- Returns True if all cased characters are uppercase letters.

**isspace()**

Isspace() -- Returns True if all characters are whitespace.

**startswith(x)**

Startswith(x) -- Returns True if the string starts with x.

**endswith(x)**

Endswith(x) -- Returns True if the string ends with x.

**capitalize()**

Capitalize() -- Returns a copy of the string with the first character capitalized and the rest lowercased.

**lower()**

Lower() -- Returns a copy of the string with all characters lowercased.

**upper()**

Upper() -- Returns a copy of the string with all characters uppercased.

**strip()**

Strip() -- Returns a copy of the string with leading and trailing whitespace removed.

**title()**

Title() -- Returns a copy of the string as a title, with first letters of words capitalized.

### Splitting and joining strings

#### split()

In [26]:
string = 'Music/artist/song.mp3'
my_tokens = string.split('/')
print(my_tokens)

['Music', 'artist', 'song.mp3']

In [27]:
string = 'I love python'
my_tokens = string.split()
print(my_tokens)

['I', 'love', 'python']

#### join()

In [29]:
web_path = [ 'www.website.com', 'profile', 'settings' ]
separator = '/'
url = separator.join(web_path)
print(url)

www.website.com/profile/settings

### Example

In [32]:
url = input('Enter Wikipedia URL: ')

tokens = url.split('/')

if 'wiki' != tokens[3]:
    tokens.insert(3, 'wiki')
    new_url = '/'.join(tokens)

    print(f'{url} is not a valid address.')
    print(f'Redirecting to {new_url}')
else:
    print(f'Loading {url}')

Enter Wikipedia URL:  http://en.wikipedia.org/Rome

http://en.wikipedia.org/Rome is not a valid address.
Redirecting to http://en.wikipedia.org/wiki/Rome